* {
    font-family: 'Harry Potter', sans-serif;
}
body{
    background-image: url(fondo.jpg);
    /* background-repeat: no-repeat; */
    background-size: 100%;
    
}
.title{
    
    color: rgb(233, 109, 32);
    font: bold;
    margin: 20px 0 20px 0;
}

td{
    vertical-align: middle;

}
tbody{
    background-color: rgba(255, 255, 255, 0.746);
}

.emcabezado{
    background-color: rgba(232, 113, 28, 0.733);
}